* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

h3 {
  font-size: 18px;
}

/* .container {
  max-width: 1040px;
  margin: auto;
} */

/* Header */
header {
  width: 100vw;
  height: 782px;
  background-image: url("./assets/Bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.main-heading {
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 0.05em;
  margin-top: 50px;
}

.hero-desc {
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}

.hero-desc:first-of-type {
  margin-top: 40px;
}

.cta-btn {
  background-color: white;
  padding: 17px 53px;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ed4c5c;
  margin-top: 55px;
  cursor: pointer;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: absolute;
  top: 30px;
  left: 10%;
  right: 10%;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  margin-right: 10px;
}

.nav-logo p {
  font-size: 18px;
  font-weight: bold;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  width: 445px;
}

.nav-items a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.nav-cta {
  display: flex;
  align-items: center;
}

.nav-cta .lang-select {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.nav-cta .lang-select img {
  margin-right: 10px;
  transform: translateY(2px);
}

.nav-cta a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 12px 28px;
  border-radius: 6px;
  cursor: pointer;
}

/* Product explanation section */
.explanation {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  height: 500px;
  padding: 0 10%;
}

.explanation__text {
  width: 445px;
}

.explanation__text p,
.explanation__text a {
  font-size: 14px;
  line-height: 140%;
  margin-top: 40px;
}

.explanation__text p {
  text-align: justify;
}

.explanation__text a {
  text-decoration: none;
  color: #ed4c5c;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}

.explanation__video {
  margin-left: 10px;
  position: relative;
}

.explanation__video .play-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* features sections */

.features {
  height: 660px;
  text-align: center;
  background-color: #fafafa;
  padding: 0 10%;
}

.features h2 {
  padding-top: 63px;
}

.features__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
}

.features__card {
  position: relative;
}

.features__card .features__card__content {
  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  padding: 30px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features__card .col p {
  margin-top: 20px;
  font-size: 12px;
}
.features__card a {
  font-size: 12px;
  text-decoration: none;
  color: #ed4c5c;
  cursor: pointer;
}

/* Technology section */
.technology-section {
  height: 500px;
  text-align: center;
  padding: 0 10%;
}

.technology-section h2 {
  padding-top: 63px;
}

.technologies {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}

.technology {
  width: 190px;
}

.technology__logo {
  position: relative;
}

.technology__logo span {
  font-size: 100px;
  font-weight: bold;
  color: rgba(16, 16, 16, 0.08);
}

.technology__logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
}

.technology h3 {
  padding-top: 20px;
}

.technology p {
  font-size: 12px;
  padding-top: 10px;
}

/* app download section */

.app-download {
  height: 500px;
  background-color: #ed4c5c;
  padding: 0 10%;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.app-download__content {
  color: white;
  width: 445px;
}

.app-download__content h2 {
  font-weight: normal;
}

.app-download__content p {
  margin-top: 40px;
  line-height: 140%;
  text-align: justify;
}

.app-download__content .app-logo {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
}

.app-download__image {
  position: relative;
  width: 445px;
  margin-left: 20px;
}

.app-download__image .img-1 {
  position: relative;
  z-index: 2;
}

.app-download__image .img-2,
.app-download__image .img-3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.app-download__image .img-2 {
  left: -10%;
}

.app-download__image .img-3 {
  right: -10%;
}

/* contact form */

.contact {
  height: 500px;
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact__text,
.contact__form {
  padding-top: 117px;
}

.contact__text p {
  width: 434px;
  font-size: 14px;
  line-height: 140%;
  margin-top: 40px;
  text-align: justify;
}

.contact__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 60px);
  grid-template-areas:
    "first-name last-name"
    "phone phone"
    "service service"
    "button .";
  gap: 24px;
}

.contact__form .first-name {
  grid-area: first-name;
}

.contact__form .last-name {
  grid-area: last-name;
}

.contact__form .phone-number {
  grid-area: phone;
}

.contact__form .service {
  grid-area: service;
  appearance: none;
  background: url("./assets/ChevronDown\(E70D\).png") no-repeat;
  background-position: right 20px top 50%;
}

.contact__form .form-btn {
  width: 160px;
  height: 50px;
  background: #ed4c5c;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.contact__form input,
.contact__form select,
.contact__form button {
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #333333;
  border-radius: 6px;
  font-size: 16px;
}

.contact__form input::placeholder,
.contact__form select::placeholder {
  color: rgba(19, 39, 67, 0.5);
}

/* Footer */

footer {
  height: 435px;
  padding: 0 10%;
  background-color: #fafafa;
  font-size: 12px;
  color: #101010;
  line-height: 150%;
}

.sections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 85px;
}

.sections h3 {
  margin-bottom: 33px;
}

.sections a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.sections .phone-number {
  margin-top: 10px;
}

.sections .socmed {
  margin-top: 20px;
  width: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .copyright {
  margin-top: 86px;
}
