* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
}

.container {
  max-width: 1040px;
  margin: auto;
}

/* Header */
header {
  width: 100vw;
  height: 782px;
  background-image: url("./assets/Bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.main-heading {
  font-weight: bold;
  font-size: 72px;
  letter-spacing: 0.05em;
  margin-top: 50px;
}

.hero-desc {
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}

.hero-desc:first-of-type {
  margin-top: 39px;
}

.cta-btn {
  background-color: white;
  padding: 17px 53px;
  border-radius: 6px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ed4c5c;
  margin-top: 55px;
  cursor: pointer;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
  color: white;
  position: absolute;
  top: 50px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  margin-right: 10px;
}

.nav-logo p {
  font-size: 18px;
  font-weight: bold;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  width: 445px;
}

.nav-items a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.nav-cta {
  display: flex;
  align-items: center;
}

.nav-cta .lang-select {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.nav-cta .lang-select img {
  margin-right: 10px;
  transform: translateY(2px);
}

.nav-cta a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 12px 28px;
  border-radius: 6px;
  cursor: pointer;
}

/* Product explanation section */
.explanation {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  height: 500px;
}

.explanation__text {
  width: 445px;
}

.explanation__text p,
.explanation__text a {
  font-size: 14px;
  line-height: 140%;
  margin-top: 40px;
}

.explanation__text p {
  text-align: justify;
}

.explanation__text a {
  text-decoration: none;
  color: #ed4c5c;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}

.explanation__video {
  margin-left: 10px;
  position: relative;
}

.explanation__video .play-button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
